<div class="container">
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="4 chair.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Wooden Chair Available.</p>
            <button type="button" class="btn btn-info">
              Add To Cart <span class="badge bg-success"></span>
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy Now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="71LUhR4lcdL._SX425_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Table</h5>
            <p class="card-text">High quality table in min. prize</p>
            <button type="button" class="btn btn-info">
              Add To Cart <span class="badge bg-success"></span>
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy Now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="2 bed.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bed</h5>
            <p class="card-text">King Size bed available.</p>
            <button type="button" class="btn btn-info">
              Add To Cart <span class="badge bg-success"></span>
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy Now
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="3-seater-wooden-sofa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wooden Sofa</h5>
            <p class="card-text">Multi-seater Sofa.</p>
            <button type="button" class="btn btn-info">
              Trainings <span class="badge bg-success"></span>
            </button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
