<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color:navy">
      <a class="navbar-brand" href="#"style="color:white">
        <img src="/assets/images/logo.jpg" href=" https://github.com/Bluenile31/my_te_angular_app">
        <i class="fa-sharp fa-solid "routerLink=" "></i> Furnitures</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" style="color:white">
          <li class="nav-item">
            <a class="nav-link active"style="color:white" aria-current="page" routerLink=" ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white"routerLink="offers">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white"routerLink="cart">Cart</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"style="color:white">
              Products 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="chairs">Chairs</a></li>
              <li><a class="dropdown-item" routerLink="tables">Tables</a></li>

              <li><a class="dropdown-item" routerLink="beds">Beds</a></li>
              <li><a class="dropdown-item" routerLink="#">Sofa</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white"routerLink="contactus">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
            <input type="text" #productname placeholder="Search" style="border-radius:10px;">&nbsp;
            
            <button class="btn btn-outline-success" type="submit" (click)="search_product(productname.value);productname.value=''" style="border-radius:10px;">Search</button>
            <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
            <br>

            &nbsp;&nbsp;&nbsp;
            
            <app-search [product]="productentered">
                abcd
            </app-search><br>
          </form>
          
      </div>
    </div>
  </nav>
