<br><br><br><br>
<marquee style="color:red;text-shadow: 5px;">

    <h6>
        <div class="fa-3x">
            <i class="fa-solid fa-bell fa-shake"></i>Tables at Unbelievable Offers!!!! Buy Now
        </div>
    </h6>
</marquee>
<div *ngFor="let t of table" style="border:none;float:left"[ngSwitch]="t.status">
    <div class="row">
        <!--1st column-->
        <div class="col ">
            <!--Property Binding-->
            <!--<img [src]="t.img" class="prodimg">-->
        </div>
        <!--2nd column-->
        <div class="card " style="border:none;">
            <div class="card-body col">
                <div class="row1"
                    style="margin-top:10px;border-style:solid;border-color:black;border-radius:15px;margin-left: 100px;margin-right: 30px;">
                    <div class="col-lg-3">
                        <!--Property Binding-->
                        <img [src]="t.img">
                    </div>
                    <div class="col-lg-9" style="margin-top:20px;">
                        <!--Interpolation Binding-->
                        <div class="text">
                            Product: {{t.pname }}
                            <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>

                        </div>

                        <div class="text" [hidden]="productDetail">
                            Description: {{t.pdesc}}
                            <br>
                            <div class="text2">
                            Price: {{t.price | currency:'USD'}}<br></div>
                            <br>
                            <div class="xyz">
                            Quantity: <input type="number" [(ngModel)]="quantity" name="quantity" [(ngModel)]="value" style="width:50px;border-radius:10px;margin-left: 10px;" min="1" max="10">
                            <br>
                            <button class="btn btn-dark m-3" (click)="addToCart(t)" style="width:150px;border-radius:10px;margin-left: 100px;">Add to Cart</button>
                        </div>


                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--3rd column-->
        <div class="col ">
            <!--Property Binding-->
            <!--<img [src]="t.img" class="prodimg">-->
        </div>
    </div>
</div>